{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}

{% block content %}

<h1>Все новости</h1>
   <h5>Новостей на странице: {{ Post|length }}</h5>
    <hr>
{% if perms.new.add_post %}
<a href="{% url 'create_post' %}"> Добавить пост </a>
{% endif %}

   <h3>{{ time_now }}</h3>
   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о новостях!" }} </h3>
   <hr>
   {% if Post %}
       <table>
           <tr>
               <td>Титул</td>
               <td>Текст</td>
               <td>Рейтинг</td>
               <td>Дата публикации</td>
               <td>Тип публикации</td>
               <td>Категории</td>
                {% if perms.new.change_post or perms.new.delete_post %}
               <td>Действие</td>
               {% endif %}
           </tr>
           {% for Post in Post  %}
           <tr>
               <td>{{ Post.title }}</td>
               <td>{{ Post.text|truncatechars:20 }}</td>
               <td>{{ Post.rating }}</td>
               <td>{{ Post.dataCreation|date:'d.m.Y h:m'}}</td>
               <td>{{ Post.categoryType}}</td>
               <td>
                   {% for category in Post.postCategory.all %}
                   <a href="{% url 'category_list' category.id %}"> {{category.name}} </a>
                   {% endfor %}
               </td>

               <td>
                    {% if perms.new.change_post %}
                    <a href="{% url 'post_update' pk=Post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.new.delete_post %}
                    <a href="{% url 'post_delete' Post.id %}">Удалить</a>
                    {% endif %}
                </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}


   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {# Информация о текущей странице #}
   {{ page_obj.number }}
   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}